

<%= simple_form_for(:session, :url => session_path, :defaults => { :wrapper_html => {:class => 'form-group' }, :input_html => { :class => 'form-control' } }) do |form| %>
    <div class="input-group">
      <p>       
        <%= form.input :email %>
      </p>
      <p>
        
        <%= form.input :password %>
      </p>
    </div>
    <p><br />
      <%= form.button :submit %>
    </p>
<% end %>